.background {
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap:1em;

		@include breakpoint(break1) {}
		@include breakpoint(break2) {grid-template-columns: 1fr 1fr; grid-gap:.5em;}
		@include breakpoint(break3) {grid-template-columns: 1fr 1fr 1fr; grid-gap:1em;}
		@include breakpoint(break4) {}
	
	&.orange{background: url(../assets/img/GM_ORANGE.jpg) repeat; background-size: cover; background-attachment: fixed;}	
	&.blue{background: url(../assets/img/OP_BLUE.jpg) repeat; background-size: cover; background-attachment: fixed;}
	&.green{background: url(../assets/img/OP_paleGreen.jpg) repeat; background-size: cover; background-attachment: fixed;}
		
	


}

