.background {
	@include clearfix;
	background-attachment: fixed;
	width:100%;
	padding: 3em 0;
	transition: all .5s;
	z-index: 0;
	text-align: center ;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:0rem;
	transition: all .5s;

		@include breakpoint(break1) {}
		@include breakpoint(break2) {}
		@include breakpoint(break3) {}
		@include breakpoint(break4) {}
	
	&.orange{background: url(../assets/img/GM_ORANGE.jpg) repeat; background-size: cover; background-attachment: fixed;}	
	&.blue{background: url(../assets/img/OP_BLUE.jpg) repeat; background-size: cover; background-attachment: fixed;}
	&.green{background: url(../assets/img/OP_paleGreen.jpg) repeat; background-size: cover; background-attachment: fixed;}
		
	


}

