@keyframes fade-In {
    0% {opacity: 0;transform: translateY(-0.8em);background-position-y: center;}
    70% {opacity: 3;}
	100% { opacity: 1;transform: translateY(0);background-position-y: center;}
	
}

@keyframes fade-Up {
    0% {opacity: 0;transform: translateY(-5em);background-position-y: top;}
	100% { opacity: 1;transform: translateY(0);background-position-y: bottom;}
	}
	
@keyframes opacity-Up {
    0% {opacity: .1;}
	100% { opacity: 1;}
	}	





