---
layout: "wrapper"
author: "James"
title: "OUR HOME PAGE"
pagetitle: Home Page
---
	<p>Located on the banks of the River Spree in the East of Berlin, Funkhaus is one the city’s most iconic buildings. Constructed in the 1950s with the typically austere grandeur of much of the city’s Soviet architecture, it was designed to house world-class recording facilities and broadcast studio, home to GDR state radio and a symbol of its wide-reaching ambition.</p>
		<div class="cta">
				<p> Why not check out our</p> 
				<p><a href="#ourfood" class="button">MENU</a></p>
		</div>
	<p>A central part of Berlin’s cultural history, Funkhaus now also plays a role in the recording of Nils Frahm’s new album All Melody.</p>
	<p>Realising a long-term plan to create a recording studio that would match the scope of his ideas, Frahm has taken over Funkhaus’ Saal 3 – a grand space originally used to record chamber music – and made it his own, housing his incredible array of keyboards, pianos and synthesizers, and exploiting the unique acoustic properties of the building.</p>
	<p>Recorded between Saal 3 and a dried well in Majorca, All Melody is shaped by those spaces and reflects what Frahm describes as his interest in “the physical feeling that sound can produce.”</p>
	<p>To get a better sense of that process, we visited Frahm at Saal 3 to hear about the making of the album, the construction of the studio and how he could possibly recreate that environment on tour.</p>
	
		<div class="breakout" id="ourfood" name="#ourfood">

			<div class="subhero">	
				<div class="headergroup">
					<h1>Our Food</h1><br />
					<h2>Tasty • Fresh • Filling</h2>
				</div>	
			</div>
		
		<h3>Main Courses</h3>
			<div class="menuitems">
				
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
				
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
				
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
				
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
				
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
				
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
			</div><!--end menuitems-->
			
		
		<h3>Something Sweet</h3>
			<div class="menuitems">
		
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
				
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
				
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
				
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
		
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
				
				<div class="dish">
					<p><span class="dishhead">CESSULTO C. BUTERIO, NOS NES CONSIMOVERU</span><br />
		dam hebat quam maximis. Ahabit patam pe- reheb ultore inatum ervivatilis.Simus conderi <span class="price">£X.XX</span></p>
				</div>
			</div><!--end menuitems-->
		
				<small>Part of Berlin’s cultural history, Funkhaus now also plays a role in the recording of Nils Frahm’s new album All Melody.</small>
		</div><!-- eof breakout-->
	
			
			<p>Located on the banks of the River Spree in the East of Berlin, Funkhaus is one the city’s most iconic buildings. Constructed in the 1950s with the typically austere grandeur of much of the city’s Soviet architecture, it was designed to house world-class recording facilities and broadcast studio, home to GDR state radio and a symbol of its wide-reaching ambition.</p>
			<p>Recorded between Saal 3 and a dried well in Majorca, All Melody is shaped by those spaces and reflects what Frahm describes as his interest in “the physical feeling that sound can produce.”</p>
			<p>To get a better sense of that process, we visited Frahm at Saal 3 to hear about the making of the album, the construction of the studio and how he could possibly recreate that environment on tour.</p>
	</div>
	
	
	
	
	<div class="signup">		
			<div class="signupcontent">
				<h3>Let's start something. </h3>
				<p>Leave us your email address and we'll keep you in the loop with what is happening at your Local.<br />Maybe we'll send you something nice</p>
				<form class="signupform">
					<input type="email" name="youremail"> <button type="submit">Do it!</button>
				</form>
			</div>		
	</div>

